.container{
    display: flex;
    background-color: transparent;
    width: max-content;
    height: max-content;
    margin-left: 10px;
    margin-right: 10px;
}

.btn{
    grid-column: 2 / 3;
    background-color: rgb(106, 167, 198);
    width: 95px;
    height: 40px;
    border-radius: 10px;
    font-size: medium;
    margin-left: 20px;
}

.btnRdm{
    grid-column: 2 / 3;
    background-color: rgb(106, 167, 198);
    width: 95px;
    height: 40px;
    border-radius: 10px;
    font-size: medium;
    margin-left: 20px;
}

.in{
    background-color: rgb(200, 237, 242);
    border-radius: 10px;
    text-align: center;
    height: 40px;
}